.matches-card {
  margin-top: 4em;
  margin-left: 2em;
  width: 20%;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.icon {
  //put the icon on the left
  float: left;
  width: 10%;
  height: 10%;
  border-radius: 10px;
}
