<mat-card class="login-card">
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-content>
    <form>
       @if(this.error == "Not Found") {
        <p style="color: red;">
          Invalid username or password! Please try again!
        </p>
        }
      <mat-form-field class="form-field">
        <input matInput placeholder="Username"
          [(ngModel)]="loginData.username" name="username"
          type="text">
      </mat-form-field>
       @if(this.error == "Not Found") {
        <p style="color: red;">
          Invalid username or password! Please try again!
        </p>
        }
        <mat-form-field class="form-field">
        <input matInput placeholder="Password"
          [(ngModel)]="loginData.password" name="password"
          type="password">
      </mat-form-field>
    </form>
    <button mat-fab color="primary" (click)="login()">
      <mat-icon>lock_open</mat-icon>
    </button>
    <br>
    <br>
    <a routerLink="../sign-up" routerLinkActive="active">
      Sign Up Here!
    </a>
  </mat-card-content>
</mat-card>
