<mat-card>
  <mat-card-header>
    <mat-card-title>Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content class = "mat-card-content">
    <form>
    <mat-form-field>
      <input matInput placeholder="City" [(ngModel)]="profile.city" name="city">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Description" [(ngModel)]="profile.description" name = "description">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Instagram" [(ngModel)]="profile.insta" name = "insta">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Age" [(ngModel)]="profile.age" name = "age">
    </mat-form-field>
    </form>
    <button mat-fab-button color="primary" (click)="saveProfile(profile)">
     <mat-icon>save</mat-icon>
   </button>
  </mat-card-content>
  </mat-card>
