<mat-toolbar>
  <button mat-mini-fab color="primary"
          routerLink="../matches" routerLinkActive="routerLinkActive"
          matBadge="{{this.currUser.matches.length}}">
    <mat-icon>
      date_range
    </mat-icon>
  </button>
  <p class="toolbar_text">
    Your future (delicious) dates are here!
  </p>
  <p style = "flex: 1 1 auto"></p>
  <p>
    Profile
  </p>
  <button mat-mini-fab color="primary" routerLink="../profile"
    routerLinkActive="routerLinkActive">
    <mat-icon>
      account_circle
    </mat-icon>
  </button>
  </mat-toolbar>
<mat-card class="mat-card">
  <mat-card-title>{{reccomendedUser.username}}</mat-card-title>
   <mat-card-content class="mat-card-content">
  <img mat-card-image ngSrc="assets/paella.jpg" width="225" height="225" alt="paella">
   </mat-card-content>
   <mat-card-footer class="mat-card-footer">
    <button mat-fab color="primary" (click)="like()" style="margin-right: 2em">
      <mat-icon>
        favorite
      </mat-icon>
    </button>
    <button mat-fab color="primary" style="margin-left: 2em">
      <mat-icon>
        clear
      </mat-icon>
    </button>
   </mat-card-footer>
</mat-card>
